<h1>Apartment Building: <%=@building.name%></h1>
<h3>Total # of Residents: <%=@building.residents.count%></h3>
<h3>Total # of Service Requests: <%=@building.service_requests.count%></h3>

<h3>Residents' usernames: </h3>
<%@building.residents.each do |resident|%>
<%=resident.username%>:
<br>
  <%if resident.service_requests.empty?%>
    <p>No service requests at this time</p>
  <%else%>
  <% resident.service_requests.each.with_index(1) do |request, index | %>
    <%=index%>. <a href="/service_requests/<%=request.id%>"><%=request.message[0, 20]%>...</a>
  <% end %>
  <br></br>
  <%end%>
<%end%>

<br></br>
<h3><a href="/">Homepage</a></h3>
